[
  {ecto, [
    {uri, <<"ecto+postgres://pwuser:iampwuser@10.20.0.232/dqa_travelstar?size=1&overflow=5">>}
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, info}
    ]}
  ]},

  {inets, [
    {services, [
      {httpc, [{profile, soap},
               {max_sessions, 16},
               {max_pipeline_length, 4},
               {pipeline_timeout, 60000}]}
    ]}
  ]},

  {salieri, [
    {db, [{url, "http://acceptance.media.amadeuscruise.com/db/public/getRelease.asp"},
          {lang, "EN"},
          {atID, "9BF0AA7E"}]},
    % Uncomment the `wsdl` setting below and add the absolute path to the amadeus web
    % services wsdl. If you do not add one, the test wsdl will be used
    % {wsdl, "priv/wsdl/AmadeusWebServices.wsdl"},
    {offices, [
      [{compcode, 1001},
       {officeid, "AUS1S2109"},
       {originator, "WSITTPRX"},
       {password, "PERXITTT"},
       {organization, "NMC-US"},
       {session, 3},
       {timeout, 14}],

      [{compcode, 1003},
       {officeid, "LONPV318H"},
       {originator, "WSITTPRX"},
       {password, "PERXITTT"},
       {organization, "NMC-UK"},
       {sessions, 3},
       {timeout, 14}]]}
  ]},

  {melnitz, [
    {redis, [
      {host, "10.20.0.79"},
      {database, 1},
      {password, "iamredis"}
    ]},
    {index_url, <<"http://kensaku.perx.com/dqa">>}
  ]},
  
  {sedgewick, [
    {redis, [
      {host,"10.20.0.79"},
      {database, 14},
      {password, "iamredis"}
    ]}
  ]}
].
